



.box{
    padding: 0!important;
}
.storearrivalspan{
    color: red ;
}
.form-control {
border:none !important;
border-bottom: 1px solid sienna!important;
}

.btn{
    outline: none!important;
}

.inline{
    display: inline-block!important;
}

textarea.form-control {
     height: none!important;
}